/* *{
    margin: 0;
    padding: 0;
} */

body{
    text-align: center;
}

.container{
    margin: auto;
    display: flex;
    height: 420px;
    flex-wrap: wrap;
    width: 420px;
}

.box{
    margin: 0px 10px 10px;
    height: 180px;
    width: 180px;
    border: 4px solid black;
    border-radius: 20px;
}

.red{
    background-color: brown;
}

.green{
    background-color: darkolivegreen;
}

.blue{
    background-color: aqua;
}

.yellow{
    background-color: yellow ;
}

.gflash{
    background-color: aliceblue;
}

.uflash{
    background-color: green;
}